include ../common/head
  include ../doc/header
  .container-fluid
    .row-fluid
      .span3
        include ../doc/aside
      .span9
        !{flashMessages}
        != body
  include ../common/foot