!= partial("common/head")
!= partial("common/doc-header")
.container-fluid
  .row-fluid
    .span3
      != partial("common/doc-aside")
    .span9
      !{flashMessages}
      != body
!= partial("common/foot")