header.page-header
  h1 Features

h2 Instant sharing
p Share your API Doc with anybody! Hell, you can even make it public.

h2 Hosted Platform
p You don’t have to worry about updating any files or making sure your API consumers have the latest doc. With APIme everybody is in sync.

h2 Private Data
p Your information stays private and only you choose who to share it with.

h2 No lock ups
p At any time you can export your API data as JSON or even as a static website. You can also take advantage of our open source library to host the docs yourself.

h2 Future Features
p This is just the beginning we’ll be soon implementing awesome features like:
ul
  li Documentation Versioning
  li CNAME Domains
  li Branding
  li SSL
  li Importing from JSON
  li Testing endpoints
  li and many more...

h2 Sign-up
p Checkout our pricing plans:
ul
  li FREE
  li Gold
  li Golder
  li Goldest