header.page-header
  h1 Open Source

h2 APIme Documentation Template
p If you’re more of a hands on developer or want to make some changes, download our documentation template and get to it.

h2 APIme Static Site
p Run a full static site of your docs with this library. It takes the JSON data exported from APIme and it turns it into a full site. Allowing you to make changes to the template, adding new pages and hosting it anywhere you want.