header.page-header
  h1 Open Source
.row-fluid
  .span6
    h2 APIme Template
    p If you’re more of a hands-on developer or need to make a lot of changes, download our HTML, CSS &amp; JavaScript documentation template.
    p: a.btn.btn-success.btn-block(href="#") Download from Github
  .span6
    h2 APIme Dynamic Site
    p This library runs a dynamic site from a JSON file exported from APIme, only using HTML, CSS and JavaScript. Allowing you to make changes to the design, adding new pages and hosting it anywhere you want.
    p: a.btn.btn-success.btn-block(href="#") Download from Github