.hero-unit
  h1 <strong>APIme:</strong> A web hosted platform to create, maintain &amp; share your API Documentation with others.
.row-fluid
  .span6
    h2 How does it work?
    p APIme gives you the tools to easily create your RESTful API Documentations and share it with clients, API consumers or publicly.

    p Just <a href="#">sign-up</a>, create an API Doc, and when you&rsquo;re ready, share it other people.
  .span6
    h2 Examples
    p Checkout these real life examples created using APIme:
    ul
      li: a(href="#") Basic Sample API
      li: a(href="#") Twitter API
      li: a(href="#") Instagram API

.alert 
  h4 You&rsquo;re never locked up!
  p At any point in time, you can export any of your docs as <strong>JSON data</strong> or even as a standalone <strong>static website</strong> that you can host anywhere you want.
  p Check out our <a class="btn btn-primary" href="/github">Open Source Libraries</a>
h2 Sign up
p Checkout our pricing plans:
ul
  li FREE
  li Gold
  li Golder
  li Goldest