h2 What is APIme?
p APIme is a web hosted platform to share your API Documentation with others.

h2 How does it work?
p Simply sign-up, create an API Doc, add other people as editors or make it public.
p At any point in time you can export any of your docs to JSON or even as a standalone static website that you can host anywhere you want.

h2 Examples
p Checkout these API Doc examples created using APIme
ul
  li Simple API
  li Twitter API
  li Instagram API
 
h2 Sign up
p Checkout our pricing plans:
ul
  li FREE
  li Gold
  li Golder
  li Goldest