header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/dashboard") <i class="icon-home icon-white"></i> <strong>API</strong>me
        .nav-collapse.collapse
          ul.nav
            li: a(href="/docs/new") <i class="icon-plus icon-white"></i> Add Doc
          
          ul.nav.pull-right
            li: a.navbar-link(href="/logout") Logout