header.page-header
  h1 New Endpoint
form(method="post")
  .controls
    label(for="group") Endpoint Group:
    select#group(name="group")
      option Select a group...
      each group, i in doc.groups
        option(value="#{ i }")= group.name
  .controls
    label Endpoint:
    .ep.ep-short.ep-edit
      header.ep-header
        .ep-method
          select.span12(name="method")
            option(value="get") GET
            option(value="post") POST
            option(value="put") PUT
            option(value="delete") DELETE
        .ep-path
          input.span12(type="text", name="path", placeholder="/path/to/endpoint/{id}")
        .ep-excerpt
          input.span12(type="text", name="name", placeholder="Get authenticated user information")
  .controls
    label Description:
    textarea.span12.input-tall(name="description", placeholder="Get authenticated user information")
    span.help-block <i class="icon-gift"></i> Tip: You can use <a href="http://warpedvisions.org/projects/markdown-cheat-sheet/" target="_blank">markdown</a>

  .controls
    label Params:
    .ep-params.ep-params-edit
      table.table.table-hover
        tbody.repeatable
          tr.repeatable-item-template.hide
            td.key
              input.span12(name="params[].key", type="text", placeholder="key")
            td.description
              input.span12(name="params[].description", type="text", placeholder="Description")
            td.actions
              a.btn.btn-success.repeatable-add(href="#")
                i.icon-plus.icon-white
              a.btn.btn-danger.repeatable-rem(href="#")
                i.icon-minus.icon-white
          tr.repeatable-item
            td.key
              input.span12(name="params[].key", type="text", placeholder="key")
            td.description
              input.span12(name="params[].description", type="text", placeholder="Description")
            td.actions
              a.btn.btn-success.repeatable-add(href="#")
                i.icon-plus.icon-white
              a.btn.btn-danger.repeatable-rem(href="#")
                i.icon-minus.icon-white
  .controls
    label Sample CURL:
    textarea.span12.input-tall(name="curl", placeholder='curl http://api.sample.com/')
    label Sample Response:
    textarea.span12.input-tall(name="response", placeholder='{ success: "always" }')
  .form-actions
    button.btn.btn-cancel Cancel
    button.btn.btn-success Add Endpoint