header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/") <i class="icon-home icon-white"></i> <strong>API</strong>me
        .nav-collapse.collapse
          ul.nav
            li: a(href="/features") Features
            li: a(href="/examples") Examples
            li: a(href="/github") Github
            li: a(href="/support") Support
          ul.nav.pull-right
            li: a(href="/signup") Pricing &amp; Signup
            li: a.navbar-link(href="/login") Login