header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/") <i class="icon-home icon-white"></i> <strong>API</strong>me
        .nav-collapse.collapse
          ul.nav
            li.active: a(href="/tour") Tour
            li: a(href="/testimonials") Testimonials
            li: a(href="/contact") Contact Us
            li: a(href="/signup") Pricing &amp; Signup
          ul.nav.pull-right
            li: a.navbar-link(href="/login") Login